.page {
  width: 100%;
  min-height: 100vh;
  padding: 60px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  color: white;

  background: linear-gradient(to bottom right, #111, #000);
}

.page h2 {
  font-size: 42px;
  margin-bottom: 20px;
  font-weight: 700;
}

.page label {
  font-size: 20px;
  margin-bottom: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
}

.page button {
  background: #4c8eff;
  border: none;
  padding: 12px 26px;
  color: white;
  border-radius: 12px;
  font-size: 18px;
  cursor: pointer;
}

.page button:hover {
  opacity: .85;
}
