.chats{
max-width:700px;
height:80vh;
margin: 0 auto;
overflow-y: auto;
padding: 2rem;
display:flex;
flex-direction: column;
gap:1rem;
scroll-behavior: smooth;
}
.userDiv{
display:flex;
justify-content: flex-end;
font-size: 0.9rem;
}
.gptDiv{
    text-align: left;
    font-size: 0.9rem;
}

.userMessage{
    background-color:#323232 ;
    color:white;
    padding: 10px 20px;
    border-radius:14px;
    margin-left: 15rem;
    max-width: 70%;
    width:fit-content;
}
.hljs{
    border-radius:14px;
    font-size: 0.9rem;
    line-height: 1.5;
    background:none;
}
code {
  background-color: rgba(255,255,255,0.08);
  padding: 2px 6px;
  border-radius: 6px;
  font-family: 'Courier New', monospace;
}